---
layout: default
title: Portfolio | Web Design | Marketing
---

<div class="bg">
	<div class="jumbotron text-center" id="portfolio-jumbo">
		<div class="container">
			<div class="jumbo-wrapper">
				<p class="h1"><b>View My Latest Work</b></p>
				<hr>
				<p class="hidden-xs"><b>Big or small projects. Responsive, static, simple, or complex websites.</b></p>
				<p class="hidden-xs"><b>You name it, I can help.</b></p>
				<a href="#websites"><button class="button orange-button">Websites</button></a>
				<a href="#dbms"><button class="button orange-button">DBMS</button></a>
				<a href="#copywriting"><button class="button orange-button">Copywriting</button></a>
			</div>
		</div>
	</div>
	<section class="tan-bg">
		<div class="container">
			<p class="text-center h1 portfolio-titles" id="websites">Responsive Websites</p>
			{% for post in site.categories.responsive-sites %}
  				{% assign loopindex = forloop.index | modulo: 2 %}
  				{% if loopindex == 1 %}

			<div class="row">
				<div class="col-sm-6">
					<a href="{{ post.url }}"><img src="{{ post.img_src }}" class="img-responsive center-block"></a>
					<p class="h3 text-center"><a href="{{ post.url }}"> {{ post.name }} </a></p>
					<p> {{ post.description }} &nbsp;<a href="{{ post.url }}">&raquo;More</a></p>
				</div>

			{% else %}

				<div class="col-sm-6">
					<a href="{{ post.url }}"><img src="{{ post.img_src }}" class="img-responsive center-block"></a>
					<p class="h3 text-center"><a href="{{ post.url }}"> {{ post.name }} </a></p>
					<p> {{ post.description }} &nbsp;<a href="{{ post.url }}">&raquo;More</a></p>
				</div>
			</div>

  			{% endif %}
			{% endfor %}
		</div>
	</section>
	<section class="orange-bg" style="border-bottom:7px solid tan">
		<div class="container">
			<p class="text-center h1 portfolio-titles">More Websites</p>
			{% for post in site.categories.websites %}
  				{% assign loopindex = forloop.index | modulo: 2 %}
  				{% if loopindex == 1 %}
				
			<div class="row">
				<div class="col-sm-6">
					<a href="{{ post.url }}"><img src="{{ post.img_src }}" class="img-responsive center-block"></a>
					<p class="h3 text-center"><a href="{{ post.url }}"> {{ post.name }} </a></p>
					<p> {{ post.description }} &nbsp;<a href="{{ post.url }}">&raquo;More</a></p>
				</div>
				
			{% else %}

				<div class="col-sm-6">
					<a href="{{ post.url }}"><img src="{{ post.img_src }}" class="img-responsive center-block"></a>
					<p class="h3 text-center"><a href="{{ post.url }}"> {{ post.name }} </a></p>
					<p> {{ post.description }} &nbsp;<a href="{{ post.url }}">&raquo;More</a></p>
				</div>
			</div>
  
  			{% endif %}
			{% endfor %}
		</div>
	</section>
	<section class="tan-bg">
		<div class="container">
			<p class="text-center h1 portfolio-titles" id="dbms">Database Management</p>
			{% for post in site.categories.database-management %}
  				{% assign loopindex = forloop.index | modulo: 2 %}
  				{% if loopindex == 1 %}
  			
  			<div class="row">
				<div class="col-sm-6">
					<a href="{{ post.url }}"><img src="{{ post.img_src }}" class="img-responsive center-block"></a>
					<p class="h3 text-center"><a href="{{ post.url }}">{{ post.name }}</a></p>
					<p>{{ post.description }} &nbsp;<a href="{{ post.url }}">&raquo;More</a></p>
				</div>

			{% else %}

				<div class="col-sm-6">
					<a href="{{ post.url }}"><img src="{{ post.img_src }}" class="img-responsive center-block"></a>
					<p class="h3 text-center"><a href="{{ post.url }}">{{ post.name }}</a></p>
					<p>{{ post.description }} &nbsp;<a href="{{ post.url }}">&raquo;More</a></p>
				</div>
			</div>
			
			{% endif %}
			{% endfor %}
		</div>
	</section>
	<section class="orange-bg">
		<div class="container">
			<div class="row copywriting">
				<p class="text-center h1 portfolio-titles" id="copywriting">Copywriting</p>
				{% for post in site.categories.copy-writing %}

				<div class="col-sm-6">
					<a href="{{ post.url }}"><img src="{{ post.img_src }}" class="img-responsive center-block"></a>
				</div>
				<div class="hidden-xs col-sm-6">
					<a href="{{ post.url }}"><img src="{{ post.imgTwo_src }}" class="img-responsive center-block"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<p class="h3 text-center"><a href="{{ post.url }}">{{ post.name }}</a></p>
					<p>{{ post.description }} &nbsp;<a href="{{ post.url }}">&raquo;More</a></p>
				
				{% endfor %}
				</div>
			</div>
		</div>
	</section>
</div>